<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div>
                <button color="primary" matbutton>Home</button>
            </div>
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Trello</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">
                <span (keyup)="changeValue('name', $event)" (blur)="updateList('name', $event)" contenteditable="true">Board Name</span>
            </p>
        </div>

    <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let column of board.columns" >
                <div class="column-title">
                    <span (keyup)="changeValue('name', $event)" (blur)="updateList('name', $event)" contenteditable="true">{{ column.name }}</span>
                </div>

                <div class="task-container"
                    cdkDropList
                    [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task"  *ngFor="let item of column.tasks" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>
            
            <div class="add-column"
                (click)="enableAddColumn()" >
  	            <span [style.display]="addingColumn ? 'none' : ''" >Dodaj kolejną listę</span>
   
                <input  
                [style.display]="addingColumn ? '' : 'none' "
                (keyup)="addColumnOnEnter($event)"
                (blur)="addColumnOnBlur()"
                (ng-Model)="addColumnText" />

            </div>
        </div>
    </div>
    </div>
</div>

